* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
}

html {
    min-width: 100%;
    min-height: 100%;
    background-image: linear-gradient(45deg, #2C001E, #77216F);
    background-repeat: no-repeat;
}

.header {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    color: white;
}

main {
    max-width: 100%;
    padding: 16px;
}

.searchBar {
    padding: 8px 0;
    max-width: 100%;
}

.searchBar > #searchBook {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 40px;
    
}

.searchBar > #searchBook > .formInput {
    flex: 70%;
    padding: 8px;
    border: 0;
    border-radius: 8px 0px 0px 8px;
    font-size: 16px;
}

.searchBar > #searchBook > .formButton {
    flex: 15%;
    padding: 8px;
    border: 0;
    border-left: 1px #333 solid;
    border-radius: 0;
    font-size: 16px;
}

.searchBar > #searchBook > .formButton:last-child {
    border-radius: 0px 8px 8px 0px;
}

.searchBar > #searchBook > .formButton:hover {
    cursor: pointer;
}

.bookList {
    padding: 8px 0;
    display: flex;
}

.bookList > .bookListSect {
    padding: 8px;
    flex: 50%;
    border: 2px #333 solid;
    border-radius: 8px;
}

.bookList > .bookListSect:first-child {
    margin-right: 4px;
}

.bookList > .bookListSect:last-child {
    margin-left: 4px;
}

.bookList > .bookListSect > .sectionTitle {
    color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}